{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h3>Administration</h3>
    <ul>
        <li>
            <a href="{{ path('admin_users') }}">Utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('security_admin_config_table') }}">Config table in Database</a>
        </li>
    </ul>
{% endblock %}
